body {
    background-image: url('img/bc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

*{
    color: white;
}

p {
    text-align: justify;
}